.navigate {
    padding-top: 10px;
    &_nav {
        padding-top: 5px;
        padding-bottom: 5px;
        &_right {

        }
        &_middle {
            display: flex;
            justify-content: flex-end;
            &_ul {
                display: flex;
                list-style: none;
                margin: 0px;
                &_li {
                    display: flex;
                    margin: 0 20px;
                    &_a {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 8px;
                        color: white;
                    }
                    &_a:hover {
                        text-decoration: none;
                    }
                }
                &_li:nth-child(1) {
                    margin-left: 0px;
                }
                &_li:nth-child(3) {
                    margin-right: 0px;
                }
            }
        }
        &_left {
            display: flex;
            justify-content: center;
        }
    }
}